body {
  text-align: center;
  font-family: verdana, sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}